.HomePage {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 75px;
}

.HomePage span{
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

.HomeMain {
    margin-top: 50px;
    margin-bottom: 50px;
}

.HomeMainImg {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.HomeTitle h1{
    opacity: 0.8;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 70px;
}
.HomeTitle h4{
    opacity: 0.8;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}
.HomeTitle span{
    padding-right: 70px;
}

@media (max-width: 1000px) {
    .HomeTitle span{
        padding-right: 0;
    }
}



.HomeAnalyze {
    margin-top: 35px;
}
.HomeAnalyze button {
    background-color: #2F3475;
    border-color: #2F3475;
    color: #fff;
}
.HomeAnalyze .card-body {
    background-color: rgba(152, 215, 227, 0.3);
    border: 1px solid rgba(152, 215, 227, 0.3);
}
.HomeAnalyze .card-body .h5{
    font-size: 30px;
    margin-bottom: 30px;
}



.HomeRecipes {
    margin-top: 35px;
}
.HomeRecipes button{
    background-color: #2F3475;
    border-color: #2F3475;
    color: #fff;
}
.HomeRecipes .card-body {
    background-color: rgba(152, 215, 227, 0.5);
    border: 1px solid rgba(152, 215, 227, 0.5);
}
.HomeRecipes .card-body .h5 {
    font-size: 30px;
    margin-bottom: 30px;
}

