.FAQ {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}

.FAQTitle {
    margin-bottom: 40px;
    font-family: 'Bitter';
}

.QTitle {
    font-family: 'Bitter';
    padding: 10px 0px;
}