.AboutMe {
    margin-top: 50px;
    margin-bottom: 70px;
}

.About {
    margin-top: 50px;
    font-size: 18px;
    margin-bottom: 70px;
}

.About p {
    padding-bottom: 10px;
}

.AboutTitle {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Bitter';
}

.AboutImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 70px;
}

