.SearchForm {
    margin-top: 20px;
    justify-content: flex-end;
}

@media (max-width: 575px) {
    .SearchForm, .btn-outline-success {
        margin-top: 20px;
    }
}

.SearchResultP {
    font-size: 20px;
}

.btn-outline-success {
    color: #2F3475!important;
    border-color: #2F3475!important;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(47, 52, 117, .5)!important;
}

.btn-outline-success:hover {
    background-color: #2F3475!important;
    color: white!important;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    background-color: #2F3475!important;
    color: white!important; 
}