.AnalyzerMain {
    margin-bottom: 70px;
}

.AnalyzerMain span{
    font-family: 'Satisfy', cursive;
    font-size: 35px;
}

.Analyzer {
    font-family: 'Roboto', sans-serif;
    margin-top: 45px;
}

.Analyzer h1 {
    text-align: center;
    padding-bottom: 35px;
}

.Analyzer h3 {
    padding-bottom: 25px;
}
.jumbotron {
    padding: 2rem 2rem!important;
}

.BotResultAlert {
    margin-top: 2rem;
}