.footer {
    width: 100%;
    display: inline-block;
    height: 40px;
    background-color: #999;
    position: fixed;
    bottom: 0;
    left: 0;
}

.copyright {
    width: 70%;
    float: left;
    @media (max-width: 600px) {
    width: 100%;
    }
}

.copyright p {
    padding-left: 10%;
    color: white;
    font-size: 0.9em;
    line-height: 40px;
    text-transform: capitalize;
    letter-spacing: 1px;
    @media (max-width: 600px) {
        text-align: center;
        padding: 0;
    }
}   

.social {
    width: 30%;
    float: right;
    @media (max-width: 600px) {
    width: 100%;
    }
}

.social a {
    float: left;
    line-height: 40px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.social a:hover {
    background-color: #222;
    transition: background-color 0.3s ease;
    color: white;
}

.social a:active {
    background-color: #222;
    color: white;
}
  
  .support {
    background-color: #2F3475;
    font-size: 1em;
    width: 100%;
  }